# coding: utf-8
{{>partial_header}}
from __future__ import absolute_import

try:
    from enum import Enum, EnumMeta
except ImportError:
    from enum34 import Enum, EnumMeta

from {{packageName}}.cli import *
from {{packageName}} import *


@click.group()
@click.option('--output', '-o',
        help='output printer (json, yaml, py --regular print Python function--)',
        type=EnumType(OutputFormat, casesensitive=False), default="py")
@click.pass_context
def main(ctx, output):
    format = None
    if output == OutputFormat.json:
        format = OutputFormatter(output=lambda o: print(json.dumps(o.to_dict(), default=str)))
    elif output == OutputFormat.yaml:
        format = OutputFormatter(output=lambda o: print(yaml.dump(o.to_dict(), default_flow_style=False)))
    elif output == OutputFormat.py:
        format = OutputFormatter(output=lambda o: print(o))

    configuration = Configuration()
    ctx.obj = State(format=format, api={{classname}}(configuration))


{{# cliCommands }}
# {{ this }}
    {{# name }}
    {{# operation }}
        {{#returnType}}
            {{^returnTypeIsPrimitive}}
                {{^ isListContainer }}
@add_typed_subcommands({{returnType}})
                {{/ isListContainer }}
            {{/returnTypeIsPrimitive}}
        {{/returnType}}
    {{/operation}}
@{{{parent.fullName}}}.{{# isGroup }}group{{/isGroup}}{{^isGroup}}command{{/isGroup}}(name="{{ cliName }}")
    {{^ isSingleCommandGroup }}
    {{^ operation }}
def {{fullName}}():
    pass
    {{/operation}}
    {{/ isSingleCommandGroup }}
    {{# isSingleCommandGroup }}
@get_or_push
    {{/ isSingleCommandGroup }}
    {{# operation }}
        {{# queryParams }}
            {{# isPrimitiveType }}
@click.option("--{{paramName}}", type={{dataType}})
            {{/ isPrimitiveType }}
            {{^ isPrimitiveType }}
# complex type argument {{ dataType }}
            {{/ isPrimitiveType }}
        {{/ queryParams }}
@pass_state
def {{fullName}}(state, {{#queryParams}}{{paramName}}{{#hasMore}}, {{/hasMore }}{{/queryParams}}):  # noqa: E501
    # {{httpMethod}} {{path}}
    state.api.{{operationIdLowerCase}}({{#queryParams}}{{paramName}}{{#hasMore}}, {{/hasMore }}{{/queryParams}})
    {{/operation}}


    {{/name}}
{{/ cliCommands }}
if __name__ == '__main__':
    main()