
{{# groups }}
    {{# isGroup }}
        {{# parent.operationIdLowerCase }}
            @{{{parent.operationIdLowerCase}}}.group()
        {{/ parent.operationIdLowerCase }}
        {{^ parent.operationIdLowerCase }}
            @click.group()
        {{/ parent.operationIdLowerCase }}
    {{/ isGroup }}
    {{^ isGroup }}
        {{# parent.operationIdLowerCase }}
            @{{{parent.operationIdLowerCase}}}.command()
        {{/ parent.operationIdLowerCase }}
        {{^ parent.operationIdLowerCase }}
            @main.command()
        {{/ parent.operationIdLowerCase }}
    {{/ isGroup }}
    {{# queryParams }}
        {{# isPrimitiveType }}
            @click.argument("--{{paramName}}", type={{dataType}})
        {{/ isPrimitiveType }}
        {{^ isPrimitiveType }}
            {{# isListContainer }}
                @click.argument("--{{paramName}}", type={{baseType}}, multiple=True)
            {{/ isListContainer }}
            {{^ isListContainer }}
                {{# isMapContainer }}
                {{/ isMapContainer }}
                {{^ isMapContainer }}
                {{/ isMapContainer }}
                @model_{{dataType}}
                {{ /isListContainer }}
                {{ /isPrimitiveType }}
                {{ /queryParams }}
                def {{operationIdLowerCase}}({{#sortParamsByRequiredFlag}}{{#allParams}}{{#required}}{{paramName}}, {{/required}}{{/allParams}}{{/sortParamsByRequiredFlag}}):  # noqa: E501
                # {{httpMethod}} {{path}}
                pass

            {{/ groups }}


        {{/hasChildren}}
        {{^ hasChildren }}
            @click.command()
            def {{ name }}():
            pass
        {{/ hasChildren }}


