# coding: utf-8
{{>partial_header}}
from __future__ import absolute_import

from {{packageName}} import *

import click

@click.command()
def main():
    pass

{{# apiInfo }}
{{# apis }}
main.add_command({{ api }}_main)
{{/apis}}
{{/apiInfo}}

if __name__ == '__main__':
    main()
